.button-container {
  box-shadow: 0px 4px 0px 1px hsl(349, 70%, 56%);
  border-radius: 50%;
  .action-buttons {
    border-style: solid;
    border-radius: 50%;
    padding: 3rem;
    border-width: 1.5rem;
    border-color: hsl(349, 71%, 52%);
    box-shadow: inset 0px 4px 0px 1px #a9a9a9;
    cursor: pointer;
  }
}

.highlight {
  box-shadow: 0 0 0 30px #4865f42e, 0 0 0 55px #4865f426 !important;
}

@media screen and (max-width: 600px) {
  .button-container {
    .action-buttons {
      padding: 25px !important;
    }
  }
}
